# ==========
# General
# ==========
Desktop.ini
.DS_Store
*.swp
Thumbs.db
*.log

# ==========
# Minecraft - General
# ==========
backups/
crash-reports/
dumps/
logs/
mods/
saves/
screenshots/
usercache.json
usernamecache.json
*.toml.bak

# ==========
# Mod-specific
# ==========
# Includes the path last loaded from
config/camera-client.toml
config/contentcreatorintegration/default/stats.json
# Includes per-world data, potentially server data
config/litematica/
local/ftbchunks/data
local/ftbutilities/backups.json
map exports/
.mixin.out/
patchouli_data.json
playerSnapshots/
realms_persistence.json
# Binary files...
schematics/
XaeroWaypoints*/
XaeroWorldMap

resourcepacks/Quark\ Programmer\ Art.zip

# ==========
# SECURITY/PRIVACY CRITICAL
# ==========
contentcreatorintegration.toml
servers.dat
servers.dat_old

# ==========
# Decide per-pack
# ==========
config/jei/bookmarks.ini
options.txt
resourcepacks/
