# General
Desktop.ini
.DS_Store
*.swp
Thumbs.db

# Minecraft - General
backups/
crash-reports/
dumps/
logs/
mods/
saves/
screenshots/
usercache.json
usernamecache.json
*.toml.bak

# Mod-specific
config/contentcreatorintegration/default/stats.json
local/ftbchunks/data
local/ftbutilities/backups.json
map exports/
.mixin.out/
patchouli_data.json
playerSnapshots/
realms_persistence.json
XaeroWaypoints*/
XaeroWorldMap

resourcepacks/Quark\ Programmer\ Art.zip

# SECURITY/PRIVACY CRITICAL
contentcreatorintegration.toml

# Decide per-pack
config/jei/bookmarks.ini
options.txt
