# General
Desktop.ini
.DS_Store
*.swp
Thumbs.db

# Minecraft - General
crash-reports/
dumps/
logs/
mods/
saves/
screenshots/
# options.txt
usercache.json
usernamecache.json
*.toml.bak

# Mod-specific
local/ftbchunks/data
.mixin.out/
patchouli_data.json
playerSnapshots/
realms_persistence.json
XaeroWaypoints*/
XaeroWorldMap

resourcepacks/Quark\ Programmer\ Art.zip

# SECURITY/PRIVACY CRITICAL
contentcreatorintegration.toml

# Decide per-pack
config/jei/bookmarks.ini
options.txt
